* {
    margin: 0;
    padding: 0;
}
.container {

margin: 0 auto;
width: 1280px;
}
.header {
    list-style-type: none;
    padding-top: 25px;
    padding-bottom: 25px;
    }
.menu a {
    color: red;
    text-decoration: none;
    font-weight: 700;
    font-family: Monserrat;
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
}

.menu li {
    display: inline-block;  
}
.home {
    margin-left: 330px;
    width: 68px;
    height: 27px;
}
.photoapp {
    width: 131px;
height: 27px;
margin-left: 72px;
margin-right: 72px;
}
.design {
    width: 87px;
height: 27px;
margin-right: 50px;
}
.download {
    width: 140px;
    height: 27px;
    margin-right: 330 px;
}
.image {
    width: 1280px;
height: 789px;
left: 0px;
}
.text {
    text-align: center;
    width: 1280px;
height: 789px;
}
.heading {
    margin: 0 auto;
    width: 774px;
height: 29px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
margin-top: 48px;
text-align: center;
margin-bottom: 38px;
}
.lorem {
    margin: 0 auto;
    width: 1145px;
height: 132px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
}
.vestibulum {
    margin: 0 auto;
    width: 1145px;
height: 216px;
left: 67.5px;
top: 275px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
}
.button {
    margin: 0 auto;
    display: block;
    color: white;
    background-color: red;
    width: 191px;
height: 51px;
left: 544.5px;
top: 557px;
border-radius: 4px;
border-color: red;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
}
.footer {
    margin: 0 auto;
    margin-top: 82px;
margin-right: 105px;
margin-bottom: 29px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: right;
letter-spacing: 2.4px;
}